<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>ログイン</title>
	</head>
	<body>
		{% extends "learning_los/base.html" %} 
		{% block content %} 
			{% if form.errors%}
				<p>ユーザー名とパスワードが一致しません。<br />もう一度お試しください。</p>
			{% endif %}

				<form method="post" action="{% url 'users:login' %}?next=/">
					{% csrf_token %} 
					{{ form.as_p }}

					<input type="hidden" name="text" />
					<button name="submit">ログイン</button>
				</form>
		{% endblock content %}
	</body>
</html>
