{% extends "learning_los/base.html" %} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>ユーザー登録</title>
	</head>
	<body>
		{% block page_header %}
		<h2>アカウントを登録する</h2>
		{% endblock page_header %} {{% block content %}

		<form method="post" action="{% url 'users:register' %}" class="form">
			{% csrf_token %} {% bootstrap_form form %} {% buttons %}

			<button name="submit" class="btn btn-primary">登録する</button>
			{% endbuttons %}
			<input type="hidden" name="next" value="{% url 'learning_los:index' %}" />
		</form>
		{% endblock content %}
	</body>
</html>
