{% extends "learning_los/base.html" %} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>記事編集</title>
	</head>
	<body>
		{% block page_header %}
		<h2>記事を編集</h2>
		<p><a href="{% url 'learning_los:topic' topic.id %}">記事一覧</a>に戻る</p>
		{% endblock page_header %} {{% block content %}

		<form
			method="post"
			action="{% url 'learning_los:edit_entry' entry.id %}"
			class="form"
		>
			{% csrf_token %} {% bootstrap_form form %} {% buttons %}
			<button name="submit" class="btn btn-primary">記事を更新</button>
			{% endbuttons %}
		</form>
		{% endblock content %}
	</body>
</html>
