{% extends "learning_los/base.html" %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>学習ノート</title>
	</head>
	<body>
		{% block page_header %}
		<div class="jumbotron">
			<h1 class="display-3">学んだことを記録しよう</h1>
			<p class="read">
				自分だけの学習のノートを作成して、学んだことをいつでも振り返れるようにしよう。<br />
				何か新しいことを学んだら、その内容をようやくした記事を書こう。
			</p>

			<a
				class="btn btn-lg btn-primary"
				href="{% url 'users:register' %}"
				role="button"
				>登録する &raquo;</a
			>
		</div>
		{% endblock page_header %}
	</body>
</html>
