<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>トピック詳細</title>
	</head>
	<body>
		{% extends "learning_los/base.html" %} {% block content %}
		<p>トピック: {{ topic }}</p>

		<p>記事:</p>
		<p>
			<a href="{% url 'learning_los:new_entry' topic.id %}">新しい記事を追加</a>
		</p>
		<ul>
			{% for entry in entries %}
			<li>
				<p>{{ entry.data_added|date:'Y年m月d日 H:i' }}</p>
				<p>{{ entry.text|linebreaks }}</p>
				<p>
					<a href="{% url 'learning_los:edit_entry' entry.id %}">記事を編集</a>
				</p>
			</li>
			{% empty %}
			<li>このトピックにはまだ記事がありません。</li>
			{% endfor %}
		</ul>
		{% endblock content %}
	</body>
</html>
