{% extends "learning_los/base.html" %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>トピック一覧</title>
	</head>
	<body>
		{% block page_header %}
		<h1>トピック一覧</h1>
		{% endblock page_header %} {% block content %}
		<ul>
			{% for topic in topics %}
			<li>
				<h3>
					<a href="{% url 'learning_los:topic' topic.id %}">{{ topic }}</a>
				</h3>
			</li>
			{% empty %}
			<li><h3>トピックはまだ作成されていません。</h3></li>
			{% endfor %}
		</ul>
		<h3><a href="{% url 'learning_los:new_topic' %}">新規トピックを追加</a></h3>
		{% endblock content %}
	</body>
</html>
