{% extends "learning_los/base.html" %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>トピック詳細</title>
	</head>
	<body>
		{% block page_header %}
		<h3>{{ topic }}</h3>
		{% endblock page_header %} {% block content %}
		<p>
			<a href="{% url 'learning_los:new_entry' topic.id %}">新しい記事を追加</a>
		</p>
		{% for entry in entries %}
		<div class="card mb-3">
			<h4 class="card mb-3">
				{{ entry.data_added|date:'Y年m月d日 H:i' }}
				<small
					><a href="{% url 'learning_los:edit_entry' entry.id %}"
						>記事を編集</a
					></small
				>
			</h4>
			<div class="card-body">{{ entry.text|linebreaks }}</div>
		</div>
		{% empty %}
		<p>このトピックにはまだ記事がありません。</p>
		{% endfor %} {% endblock content %}
	</body>
</html>
